html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

.body {
	margin: 0 auto;
	max-width: 1000px;
	height: 100vh;
	font-family: "Lato", sans-serif;
	background-color: #ddd;
}

.container {
	margin: 0 auto;
	padding: 20px;
}

.header__title {
	font-weight: 900;
}

.section {
	background-color: #fff;
	box-shadow: 0 0 4px rgb(170, 170, 170);
}

.section__title {
	padding: 20px;
	font-weight: 900;
	border-bottom: 2px solid #ddd;
}

.section__body {
	padding: 0 20px 20px;
}

.form {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 20px;
}

.form__newTask {
	padding: 10px;
	border: 1px solid #ddd;
}

.form__sendTaskButton {
	padding: 10px;
	background-color: teal;
	color: #fff;
	border: none;
	cursor: pointer;
}

.tasks {
	margin: 0;
	padding: 0;
	list-style: none;
}

.task {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 10px;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.taskDone {
	text-decoration: line-through;
}

.task__button {
	height: 34px;
	width: 34px;
	border: none;
	background-color: green;
	color: #fff;
	cursor: pointer;
}

.task__buttonIcon {
	visibility: hidden;
}

.task__button--remove {
	background-color: red;
}
