.section {
	background-color: #fff;
	box-shadow: 0 0 4px rgb(170, 170, 170);
}

.section__area {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 20px;
}

@media (max-width: 768px) {
	.section__area {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}

.section__title {
	margin: 0;
	font-weight: 900;
}

@media (max-width: 414px) {
	.section__title {
		font-size: 20px;
	}
}

.section__buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

@media (max-width: 768px) {
	.section__buttons {
		grid-template-columns: 1fr;
		grid-gap: 8px;
	}
}

@media (max-width: 414px) {
	.section__buttons {
		font-size: 14px;
	}
}

.section__button {
	padding: 4px 12px;
	border: none;
	background: none;
	color: teal;
	cursor: pointer;
}

.section__button--disabled {
	color: grey;
	cursor: not-allowed;
}

.section__body {
	margin-bottom: 20px;
	padding: 20px;
	border-top: 2px solid #ddd;
}
