.tasks {
	margin: 0;
	padding: 0;
	list-style: none;
}

.task {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 10px;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.taskDone {
	text-decoration: line-through;
}

.task__button {
	height: 34px;
	width: 34px;
	border: none;
	background-color: green;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.task__button:hover {
	background-color: rgb(1, 152, 1);
}

.task__buttonIcon {
	visibility: hidden;
}

.task__button--remove {
	background-color: red;
}

.task__button--remove:hover {
	background-color: rgb(255, 98, 98);
}