.tasks {
	margin: 0;
	padding: 0;
	list-style: none;
}

.task {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 10px;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.taskDone {
	text-decoration: line-through;
}

.task__button {
	height: 34px;
	width: 34px;
	border: none;
	background-color: green;
	color: #fff;
	cursor: pointer;
}

.task__buttonIcon {
	visibility: hidden;
}

.task__button--remove {
	background-color: red;
}
